@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Silkscreen", sans-serif;
  background: url("/BackgroundForPortfolio.svg") no-repeat center center fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}

h3 {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 2px;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  color: white;
  font-family: "Silkscreen", sans-serif;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleIn 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
